<h3>{{#if priority}}Edit{{else}}New{{/if}} story</h3>
<form>
	<label for="priority">Priority</label>
	<select id="priority" name="priority" selected="{{priority}}">
		{{#select priority}}
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		{{/select}}
	</select>

	<div class="natural-language-input">
		<label for="persona">As a</label>
		<input type="text" name="persona" id="persona" value="{{persona}}" />

		<label for="feature">I want to</label>
		<input type="text" name="feature" id="feature" value="{{feature}}" />

		<label for="justification">So that I can</label>
		<input type="text" name="justification" id="justification" value="{{justification}}"/>
	</div>

	<button type="button" class="save-button">Save</button>
</form>