<div class="story-card priortiy-{{priority}}" data-priority="{{priority}}" data-story-id="{{id}}">
	<p>Story</p>
	<h2>As a {{persona}} <br/>I want to {{feature}} <br/>so that I can {{justification}}</h2>
</div>

<table>
	<tr>
		<td class="status-todo"></td>
		<td class="status-inprogress"></td>
		<td class="status-done"></td>
	</tr>
</table>
